{{define "_navbar"}}

<nav class="navbar navbar-light" style="background-color: #479fdf;">
    <a  class="navbar-brand" href="/"><img src="/templates/img/logoc3.jpg" width="30" height="30" class="d-inline-block align-top" alt="">Controle de salas - Prédio C3 - FURG</a>
    
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-secondary btn-sm">Botão pequeno</button>
</nav>



{{end}}